torch>=1.8.0
ultralytics
matplotlib
numpy
opencv-python
pandas
PyYAML
scipy
tqdm
gradio
seaborn
Pillow
torch>=1.8.0
ultralytics
matplotlib
numpy
opencv-python
pandas
PyYAML
scipy
tqdm
gradio
seaborn
Pillow